/* Nav bar */
body{
    overflow-x: hidden;
   
}
.preto{
    width: 100%;

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* slides */


.texto li{
    list-style: none;
    margin-left: 5vh;
    
}

.menu{
    float: left;
    width: 100vw;
    height: 60px;
    background-color:#fff ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family:'Roboto Slab', serif;
    box-shadow: 2px 2px 5px rgb(190, 190, 190);
    
}
.texto{
    display: flex;
    
    
}



/* Barra-banner */
.banner-barra{
    width: 100vw;
    height: 30vh;
    background-color: #0A141E;
}
.logo img{
    width: 10vw;
    height: 15vh;
    margin-bottom: 4vh;
}
.imagen{
width: 100vw;
height: 70vh;
}
.imagen img{
    width: 100%;
    height: 100%;
}

.textoambi{
    font-family:'Roboto Slab', serif;
    text-align: center;
    font-size: 60px;
    color:#0A141E ;
    margin-top: 10vh;
}
.textoambi1{
    font-family:'Roboto Slab', serif;
    float: left;
    color:#0A141E ;
    font-size: 20px;
    width: 50vw;
    margin-left: 25vw;
    text-align: center;
    margin-top: 5vh;
}

.quadrado1{
    width: 11.5vw;
    height:21vh ;
    transition: all 0.4s ease-out;
    border: 3px black solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Roboto Slab', serif;
    
    
    
    
}

.quadrado1 img{
    max-width: 80%;
    max-height: 70%;
    
    
}

.quadrado2{
    width: 11.5vw;
    height:21vh ;
    transition: all 0.4s ease-out;
    border: 3px black solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Roboto Slab', serif;
    
    
}
.quadrado2 img{
    width: 70%;
    max-height: 70%;
    margin-top: 2px;
    
    
}
.quadrado3{
    width: 11.5vw;
    height:21vh ;
    transition: all 0.4s ease-out;
    border: 3px black solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Roboto Slab', serif;
}
.quadrado3 img{
    width: 75%;
    max-height: 70%;
    margin-top: 2px;
    
}
.quadrado4{
    width: 11.5vw;
    height:21vh ;
    transition: all 0.4s ease-out;
    border: 3px black solid;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Roboto Slab', serif;
    
}
.quadrado4 img{
    width: 80%;
    max-height: 70%;
    margin-top: 2px;
    
}

.quadrado1:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}
.quadrado2:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}
.quadrado3:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}
.quadrado4:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 4px 30px 16px 0px rgba(50,50,50, 0.45);
}

.quadrados{
    float: left;
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    justify-content: space-around;
    margin-left: 10vw;
    
}